<section class="homepage">
    <app-banner src="assets/imagens/banner-homepage.png" alt="Banner Home"></app-banner>
    <app-container>
        <h2>Passagens</h2>
        <app-form-busca></app-form-busca>
        <h2>Promoções</h2>
        <div class="card-wrapper">
            <app-card-busca></app-card-busca>
            <app-card-busca></app-card-busca>
            <app-card-busca></app-card-busca>
            <app-card-busca></app-card-busca>
            <app-card-busca></app-card-busca>
            <app-card-busca></app-card-busca>
            <app-card-busca></app-card-busca>
            <app-card-busca></app-card-busca>
            <app-card-busca></app-card-busca>
        </div>
        <h2>Depoimentos</h2>
        <div class="card-wrapper">
            <app-card-depoimento
                longText="The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting."
                src="assets/imagens/avatar3.png" alt="Foto depoimento"></app-card-depoimento>
            <app-card-depoimento
                longText="The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting."
                src="assets/imagens/avatar3.png" alt="Foto depoimento">
            </app-card-depoimento>
            <app-card-depoimento
                longText="The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting."
                src="assets/imagens/avatar3.png" alt="Foto depoimento">
            </app-card-depoimento>
        </div>
    </app-container>
    <app-banner src="assets/imagens/banner-homepage-rodape.png" alt="Banner Rodape"></app-banner>
</section>